<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../tela_user/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../tela_user/styleUser.css" media="screen" />

    <title>Associado</title>
</head>

<body>
    <nav>
        <ul class="menu">
              <li><a href="/clube/usuario/atualizar">Atualizar dados</a></li>
            <li><a href="/clube/usuario/dependentes">Cadastrar dependentes</a></li>
            <li><a href="/clube/usuario/agendamento">Fazer reserva</a></li>
            <li><a href="/">Sair</a></li>

        </ul>


    <div class="form">
        <form action="post">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastrar dependente</h1>
                </div>

            </div>


            <div class="input-box">
                <label for="firstname">Nome</label>
                <input id="firstname" type="text" name="firstname" placeholder="" required>
            </div>

            <div class="input-box">
                <label for="text">Sobrenome</label>
                <input id="Setor" type="setor" name="setor" placeholder="" required>
            </div>

            <div class="input-box">
              <label for="text">CPF</label>
              <input id="Setor" type="setor" name="setor" placeholder="" required>
          </div>

            <div class="continue-button">
                <button><a href="/clube/usuario">Cadastrar</a> </button>
            </div>
        </form>
    </div>
    

</body>

</html>