<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../tela_login/style.css">
    <title>Login</title>
</head>

<body>

    <div class="form">
        <form action="/login/verificar" method="post">
            <div class="form-header">
                <div class="title">
                    <h1>Login</h1>
                </div>
            </div>
            <div class="input-box">
                <label for="firstname">Usuário</label>
                <input id="nome" type="text" name="nome" placeholder="Digite seu usuário">
            </div>

            <div class="input-box">
                <label for="text">Senha</label>
                <input id="senha" type="password" name="senha" placeholder="Digite sua senha">
            </div>
            <div class="continue-button">
                <button><a href="">Logar</a> </button>
            </div>
            <div class="continue-button">
                <button><a href="/">Voltar</a> </button>
            </div>
        </form>
    </div>
    </div>
    <div class="b-example-divider"></div>
       
    </div>
</body>

</html>