<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../tela_user/style.css" media="screen" />

    <title>Associado</title>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="/clube/usuario/atualizar">Atualizar dados</a></li>
            <li><a href="/clube/usuario/dependentes">Cadastrar dependentes</a></li>
            <li><a href="/clube/usuario/agendamento">Fazer reserva</a></li>
            <li><a href="/">Sair</a></li>
      </ul>
        
        <br><br>
        
</body>
</html>