ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border:1px solid #c0c0c0;
}

li {
  float: left;
  border:1px solid #c0c0c0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2cd4d9;
}


.active {
  background-color: #04AA6D;
}
