<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../tela_inicial/css_inicial/reset.css">
    <link rel="stylesheet" href="../tela_inicial/css_inicial/body.css">
    <link rel="stylesheet" href="../tela_inicial/css_inicial/header.css">
    <link rel="stylesheet" href="../tela_inicial/css_inicial/main.css">
    <link rel="stylesheet" href="../tela_inicial/css_inicial/footer.css">
    <link rel="stylesheet" href="../tela_inicial/css_inicial/burger.css">
    <script src="https://kit.fontawesome.com/324b71f187.js" crossorigin="anonymous"></script>
    <script src="../tela_inicial/js/burger.js" defer></script>
    <title>Clube Aurora</title>
</head>
<body>
    <header>
        <a href="https://www.marvel.com/">
        </a>
        <nav  tabindex="0">
            <a href="#" class="menu-burger-container">
                <i class="menu-burger"></i>
            </a>
            <ul class="links-container">
                <li>
                    <a href="/clube/sobre" aria-label="Acesso ao HOME">Quem somos</a>
                </li>
                <li>
                    <a href="/clube/login" aria-label="Acesso a página personagens">Login</a>
                </li>
                <li>
                    <a href="/clube/cadastro" aria-label="Acesso a página Galeria">Cadastro</a>
                </li>
                <li>
                    <a href="/clube/contato" aria-label="Acesso a página Vídeos">Contatos</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="content-container">
            <h1>
                <span>Clube</span>AURORA
            </h1>
            
            
        </div>
        <div class="social-container">
            <ul>
                
                <li>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    
    <footer>
        Copyright 2022 © | RPV
    </footer>    

    <div class="b-example-divider"></div>
    </div>
</body>
</html>