<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../tela_adm/style_principal.css"> 
    <title>Agendamento</title>
</head>
<body>
<header>
        <nav>
            <ul class="container">
                <li>
                    <a href="/clube/associado/edit" aria-label="Acesso a página Galeria">Atualizar Dados</a>
                </li>
                <li>
                    <a href="/clube/associado/{{id}}/dependentes" aria-label="Acesso ao HOME">Cadastrar Dependentes</a>
                </li>
                <li>
                    <a href="/clube/associado/{{id}}/dependentes/view" aria-label="Acesso a visualização Dependentes">Visualizar Dependentes</a>
                </li>
                <li>
                    <a href="/clube/associado/{{id}}/agendamento" aria-label="Acesso a página personagens">Agendamentos</a>
                </li>
                <li>
                    <a href="/clube/associado/{{id}}" aria-label="Volta a pagina associado">Voltar</a>
                </li>
                <li><a href='/'>Sair</a></li>
            </ul><!-- .container -->
        </nav>
    </header>

    <hr>

    
</body>
</html>