<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../tela_cadastros/style.css">
    <title>Cadastro</title>
</head>

<body>
    
        <div class="form">

            <div class="login-button">
                <button><a href="/clube/login">Entrar</a></button>
            </div>

            <form action="/clube/cadastro/save" method="post">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                   
                </div>

                <div class="input-group">
                    
                    <div class="input-box">
                        <label>Primeiro nome</label>
                        <input id="" type="text" name="nome" >
                    </div>

                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="lastname" >
                    </div>

                    <div class="input-box">
                        <label for="cpf">CPF</label>
                        <input id="cpf" type="text" name="cpf" >
                    </div>

                    <div class="input-box">
                        <label for="text">Setor</label>
                        <input id="Setor" type="setor" name="setor" >
                    </div>

                    <div class="input-box">
                        <label for="text">Data Nascimento</label>
                        <input id="" type="date" name="dataNascimento" >
                    </div>

                    <div class="input-box">
                        <label for="number">Contato</label>
                        <input id="number" type="tel" name="number" >
                    </div>

                    <div class="input-box">
                        <label for="number">Logadouro</label>
                        <input id="logadouro" type="text" name="logad" >
                    </div>

                    <div class="input-box">
                        <label for="number">Número</label>
                        <input id="numero" type="text" name="num" >
                    </div>

                    <div class="input-box">
                        <label for="number">Bairro</label>
                        <input id="bairro" type="text" name="bairro" >
                    </div>

                    <div class="input-box">
                        <label for="number">Cidade</label>
                        <input id="cidade" type="text" name="cidade" >
                    </div>

                    <div class="input-box">
                        <label for="number">CEP</label>
                        <input id="cep" type="text" name="cep" >
                    </div>

                    <div class="input-box">
                        <label for="number">Estado</label>
                        <input id="estado" type="text" name="estado" >
                    </div>

                    <div class="input-box">
                        <label for="number">E-mail</label>
                        <input id="email" type="text" name="email" >
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="password" >
                    </div>


                    <div class="input-box">
                        <label for="confirmPassword">Confirme sua Senha</label>
                        <input id="confirmPassword" type="password" name="confirmPassword" >
                    </div>

                </div>
                
                <div class="continue-button">
                    <button type="submit">Continuar</a></button>
                </div>
               
            </form>
            <div class="continue-button">
                <button type="submit"><a href="/">Voltar</a> </button>
            </div>
        </div>
    </div>
</body>

</html>