<!DOCTYPE html>
<html lang="en">
<head>
    <<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Usuario</title>
</head>
    <body>
        <h1>Status: </h1>
        <header>
            <a href="https://www.marvel.com/">
            </a>
            <nav  tabindex="0">
                <a href="#" class="menu-burger-container">
                    <i class="menu-burger"></i>
                </a>
                <ul class="links-container">
                    <li>
                        <a href="/clube/associado/dependentes" aria-label="Acesso ao HOME">Cadastrar Dependentes</a>
                    </li>
                    <li>
                        <a href="/clube/associado/agendamento" aria-label="Acesso a página personagens">Agendamentos</a>
                    </li>
                    <li>
                        <a href="/clube/associado/edit" aria-label="Acesso a página Galeria">Atualizar Dados</a>
                    </li>
                    <li>
                        <a href="/" aria-label="Acesso a página Vídeos">Sair</a>
                    </li>
                </ul>
            </nav>
        </header>
        <hr>
        <h1>Agendamento anteriores</h1>

    </body>
</html>